<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="dev.resourcemanager.android.FixtureBootstrap" android:exported="true"><intent-filter><action android:name="dev.resourcemanager.android.test.GRANT"/></intent-filter></receiver>
        <provider android:name="dev.resourcemanager.android.FixtureDocumentsProvider" android:authorities="dev.resourcemanager.android.test.documents" android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER"/></intent-filter>
        </provider>
    </application>
</manifest>
